@color-sunyit-blue: #1b569e;

@color-sunypoly-blue: #193e6e; //rgb(0,76,132);
@color-sunypoly-gold: rgb(249,179,19);

@color-sunypoly-blue-dark: darken(@color-sunypoly-blue,5%);

@color-text-light: #fff;
@color-sunypoly-accent: #821f3f;

@inverse-body-bg:               @color-sunypoly-blue; //#fff;
@inverse-text-color:            #fff;

@inverse-link-color:            #fff;
@inverse-link-hover-color:      darken(@link-color, 15%);

@navbar-height:               	45px;

@hr-border:											lighten(desaturate(@color-sunypoly-blue-dark,40%),70%);
